# SQLite

### Add the necessary libraries for SQLite3 and make a database named `test.db`.

In [1]:
import sqlite3
import pandas as pd
connection = sqlite3.connect("test.db")
cursor = connection.cursor()

### Create a connection to the database.

In [2]:
connection = sqlite3.connect("test.db")
cursor = connection.cursor()

### Make the following table in the database, named `people`:
    
| name | age | shoe_size |
| ------------- |-------------| -----|
| Prank | 88 | 47 |
| Matt | 34 | 39 |
| Ilona | 41 | 36 |
| Sonja | 32 | 37 |

In [3]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS people (
        name TEXT,
        age INTEGER,
        shoe_size INTEGER
    )
''')

people_data = [
    ('Prank', 88, 47),
    ('Matt', 34, 39),
    ('Ilona', 41, 36),
    ('Sonja', 32, 37)
]

cursor.executemany('INSERT INTO people (name, age, shoe_size) VALUES (?, ?, ?)', people_data)
connection.commit()

### When the Table has been created, convert the table to the Pandas DataFrame object and add the column `hat_size' to it, then fill that column with the values ​​you choose.

In [4]:
df = pd.read_sql_query('SELECT * FROM people', connection)

df['hat_size'] = [55] * len(df)

print(df)

     name  age  shoe_size  hat_size
0   Prank   88         47        55
1    Matt   34         39        55
2   Ilona   41         36        55
3   Sonja   32         37        55
4   Prank   88         47        55
5    Matt   34         39        55
6   Ilona   41         36        55
7   Sonja   32         37        55
8   Prank   88         47        55
9    Matt   34         39        55
10  Ilona   41         36        55
11  Sonja   32         37        55
12  Prank   88         47        55
13   Matt   34         39        55
14  Ilona   41         36        55
15  Sonja   32         37        55
16  Prank   88         47        55
17   Matt   34         39        55
18  Ilona   41         36        55
19  Sonja   32         37        55

### Make a copy of the DataFrame object with the name `person_table_copy` and add a row to it with the values ​you choose. Now save this modified dataframe object in the database as `person_table_copy` (will be created next to the previous table).

In [5]:
person_table_copy = df.copy()
new_person = pd.DataFrame([{
    'name': 'Alex',
    'age': 29,
    'shoe_size': 42,
    'hat_size': 57
}])

person_table_copy = pd.concat([person_table_copy, new_person], ignore_index=True)
person_table_copy.to_sql('person_table_copy', connection, if_exists='replace', index=False)

print(person_table_copy)

     name  age  shoe_size  hat_size
0   Prank   88         47        55
1    Matt   34         39        55
2   Ilona   41         36        55
3   Sonja   32         37        55
4   Prank   88         47        55
5    Matt   34         39        55
6   Ilona   41         36        55
7   Sonja   32         37        55
8   Prank   88         47        55
9    Matt   34         39        55
10  Ilona   41         36        55
11  Sonja   32         37        55
12  Prank   88         47        55
13   Matt   34         39        55
14  Ilona   41         36        55
15  Sonja   32         37        55
16  Prank   88         47        55
17   Matt   34         39        55
18  Ilona   41         36        55
19  Sonja   32         37        55
20   Alex   29         42        57

### Finally, save the database changes and close the connection.

In [6]:
connection.commit()
connection.close()